<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <title>ContactUs</title>
    </head>
    <body>
        <div class="Container" style="width: 900px; border: 2px solid black; text-align: center; margin: 125px auto; height:420px; background: linear-gradient(to bottom, #6699ff 0%, #ccffff 100%)">
            <div class="header">
                <h3>ContactUs</h3>
                
                <div>
                    <div>
                        <div style="width:20%">
                            <img class="img-rounded" src="/static/images/svg.jpg" style="width:100%; height: 90px; padding-left: 5px">
                        </div>
                        <div style="width:105%">
                            <p> D-206, Vasavi Towers, opp.spencers, 
                            backside of sri chaitanya school, Gowri nagar, NAD Kotha Road, Visakhapatnam,</p>
                        </div>
                    </div>
                    <div>
                        <div style="width:20%">
                            <img class="img-rounded" src="/static/images/phone.png" style="width:100%; height: 90px; padding-left: 5px">
                        </div>
                        <div style="width:105%">
                            <p> Mobile Number:7075655921</p>
                        </div>
                    </div>
                    <div style="padding-top: 10px">
                        <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                            <p><a href="http://localhost:3000/AboutMe">AboutMe</a></p>
                        </div>
                        <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                            <p><a href="http://localhost:3000/Qualifications">Qualifications</a></p>
                        </div>
                        <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                            <p><a href="http://localhost:3000/ExtraQualifications">ExtraQualifications</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>