<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <title>ExtraQualifications</title>
    </head>
    <body>
        <div class="Container" style="width: 900px; border: 2px solid black; text-align: center; margin: 125px auto; height:645px; background: linear-gradient(to bottom, #6699ff 0%, #ccffff 100%)">
            <div class="header">
            <h3>ExtraQualifications</h3>
                <div>
                    <div style="width:20%">
                        <img class="img-circle" src="/static/images/FM.jpeg" style="width:100%; height: 90px; padding-left: 5px">
                    </div>
                    <div style="width:105%">
                        <p>certification courses such as C,C++,Java and Hardware Done in First man computers.</p>
                    </div>
                </div>
                <div>
                    <div style="width:20%">
                        <img class="img-circle" src="/static/images/ACAD.png" style="width:100%; height: 90px; padding-left: 5px">
                    </div>
                    <div style="width:105%">
                        <p> currently pursuing Full Stack Web Developement in ACADGILD Bangalore.</p>
                    </div>
                </div>
                <div>
                    <div style="width:20%">
                        <img class="img-circle" src="/static/images/AS.jpg" style="width:100%; height: 90px; padding-left: 5px">
                    </div>
                    <div style="width:105%">
                        <p> During final year of BCA I prepared a project in Android using Android Studio.</p>
                    </div>
                </div>
                <div style="padding-left:180px">
                    <ul style="width:30%; text-align:justify">
                        <li>Ambitious</li>
                        <li>Approachable</li>
                        <li>Articulate</li>
                        <li>Autonomous</li>
                        <li>Calm</li>
                        <li>Charismatic</li>
                        <li>Tech savy</li>
                    </ul>
                </div>
                <div style="padding-top: 10px">
                    <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                        <p><a href="http://localhost:3000/ContactUs">ContactUs</a></p>
                    </div>
                    <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                            <p><a href="http://localhost:3000/AboutMe">AboutMe</a></p>
                    </div>
                    <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                        <p><a href="http://localhost:3000/Qualifications">Qualifications</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>