<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <title>My Profile</title>
    </head>
    <body>
        <div class="Container" style="width: 900px; border: 2px solid black; text-align: center; margin: 125px auto; height:705px; background: linear-gradient(to bottom, #6699ff 0%, #ccffff 100%)">
            <div class="header">
                <h3>My Profile</h3>
                <div>
                        <img class="img-circle" src="/static/images/Sagar.jpg" style="width:80%">
                        <p>I am y.Sai Sagar. I am a student in Acadgild. </p>
                </div>
                <div style="padding-top:15px">
                    <div style="padding-top: 10px">
                        <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                            <p><a href="http://localhost:3000/Qualifications">Qualifications</a></p>
                        </div>
                        <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                                <p><a href="http://localhost:3000/ExtraQualifications">ExtraQualifications</a></p>
                        </div>
                        <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                                <p><a href="http://localhost:3000/ContactUs">ContactUs</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
