<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <title>Qualifications</title>
    </head>
    <body>
        <div class="Container" style="width: 900px; border: 2px solid black; text-align: center; margin: 125px auto; height:485px; background: linear-gradient(to bottom, #6699ff 0%, #ccffff 100%)">
            <div class="header">
                <h3>Qualifications</h3>
                <div>
                    <div style="width:20%">
                        <img class="img-circle" src="/static/images/ADC.jpg" style="width:100%; height: 90px; padding-left: 5px">
                    </div>
                    <div style="width:105%">
                        <p>Bachelor of Computer Applications(BCA), From Aditya Degree College with an aggregate of 70%.</p>
                    </div>
                </div>
                <div>
                    <div style="width:20%">
                        <img class="img-circle" src="/static/images/SCC.jpg" style="width:100%; height: 90px; padding-left: 5px">
                    </div>
                    <div style="width:105%">
                        <p>MPC from Sir Chaitanya College with 64 %. </p>
                    </div>
                </div>
                <div>
                    <div style="width:20%">
                        <img class="img-circle" src="/static/images/kv1.jpg" style="width:100%; height: 90px; padding-left: 5px">
                    </div>
                    <div style="width:105%">
                        <p>CBSE from Kendriya Vidyalaya No.1 Sri vijaynagar with 62%</p>
                    </div>
                </div>
                <div style="padding-top: 10px">
                    <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                        <p><a href="http://localhost:3000/ExtraQualifications">ExtraQualifications</a></p>
                    </div>
                    <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                            <p><a href="http://localhost:3000/ContactUs">ContactUs</a></p>
                    </div>
                    <div style="float:left; padding-left: 20px; font-family: Tahoma; font-size: 18px">
                        <p><a href="http://localhost:3000/AboutMe">AboutMe</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>